/* --- ESTILO EXTRA PARA SUBMENU --- */
.submenu {
  display: none;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 5px;
}

.submenu a {
  padding: 8px 10px;
  font-size: 14px;
  background-color: #243447;
  border-radius: 4px;
  margin-bottom: 4px;
}

.submenu a:hover {
  background-color: #2e4053;
}

/* seta indicativa */
#menu a.toggle::after {
  content: "▼";
  float: right;
  font-size: 12px;
  transition: transform 0.5s;
}

#menu a.toggle.open::after {
  transform: rotate(-180deg);
}

.tabela-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.tabela-form {
  display: none;
}
.form-cadastro {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* ---------- SIDEBARF ---------- */
#sidebar {
  width: 380px;
  height: 100vh;
  background-color: #1c2833;
  position: sticky;
  top: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#sidebar .logo {
  margin-bottom: 40px;
  font-size: 28px;
  color: #fff;
}

#menu a {
  color: #dce1e8;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  border-radius: 5px;
}

#menu a:hover,
#menu a.active {
  background-color: #2e4053;
}

/* ---------- MAIN CONTENT ---------- */

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

#topbar h1 {
  font-size: 30px;
  font-weight: bold;
  color: #222;
}

.usuario {
  font-size: 17px;
}

.usuario span {
  font-weight: bold;
  color: #0d6efd;
}

/* ---------- TABLE ---------- */

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #5f7add;
}

th, td {
  text-align: left;
  padding: 12px 15px;
  border: 0.2px solid #00000056;
}

th {
  font-weight: bold;
  color: #ffffff;
}

tbody tr:hover {
  background-color: #dee0e7;
}

/* ---------- STATUS LABEL ---------- */
.status {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.ativo {
  background-color: #28a745;
}

.inativo {
  background-color: #dc3545;
}

/* ---------- BUTTONS ---------- */

/* ---------- DASHBOARD CARDS ---------- */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

/* ---------- GRÁFICO OU PLACEHOLDER ---------- */
